.s_advantages
    &_title
        text-align: center
        margin-bottom: 36px
    &_items
        justify-content: space-around
    &_item
        text-align: center
        svg
            display: block
            margin: 0 auto
            margin-bottom: 15px
        &_name
            text-transform: uppercase
            font-weight: 700