.s_delivery_countries
    padding-top: 40px
    margin-bottom: 40px
    background-image: url(../images/delivery_countries.jpg)
    +r(999)
    &_wrapper_title
        margin-bottom: 35px
    &_wrapper_list
        max-width: 314px
        ul
            max-width: 157px

            li
                height: 46px
                list-style: none
                background: url(../images/Arrow_right_list.jpg) no-repeat 0 0px
                padding-left: 24px
                &:hover
                    background: url(../images/Arrow_right_hover_list.png) no-repeat 0 0px
