.s_header
 
  background-color: #00a2d9
  &_wrapper
    height: 56px
    align-items: center

  &_logo_mobile
    display: none
  &_icon_phone
    margin-right: 10px
    .blue
      padding-top: 1px
    .white
      display: none
  &_phone_number
    align-items: center
    &:hover .white
      display: block
    &:hover .blue
      display: none
    p
      color: #fff
      font-size: 9px
      a
        font-size: 31px
        font-weight: 700
        line-height: 1
  
  &_callback
    align-items: center
    &:hover
      .s_header_callback_arrows
        transform: translate(-50%, -50%) rotate(179deg)
      .s_header_callback_phone
        display: none
      .s_header_callback_phone_hover
        display: block 
      .s_header_callback_text
        p
          color: #fff;
    &_text
      p
        color: #fff22b
        font-size: 18px
        text-transform: uppercase
    &_image
      position: relative
      margin-right: 10px
      width: 32px
      height: 32px
      svg
        position: absolute
        transition: 0.2s ease
    &_arrows
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
    &_phone,
    &_phone_hover
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
    &_phone_hover
      display: none
    
  &_mail
    align-items: center
    .mail_hover
      display: none
    &:hover
      .mail_icon
        display: none
      .mail_hover
        display: block
    a
      margin-left: 10px
      color: #fff
      font-size: 18px
  &_tracker
    position: relative
    &_number
      height: 32px
      width: 184px
      outline-color: #a7a9ac
      border-radius: 3px
      border: none
      padding-left: 10px
  &_submit
    height: 22px
    width: 20px
    padding-top: 3px
    position: absolute
    right: 5px
    top: 50%
    border: none
    transform: translateY(-50%)
    background: none
    img
      display: block
  &_cabinet_client
    .cabinet_blue
      display: none
    &:hover
      .cabinet_blue
        display: block
      .cabinet_white
        display: none
  &_languages
    p
      font-size: 18px
      color: #fff
       

   
    