.s_reviews_news
    margin-bottom: 40px
    +r(999)
        margin-bottom: 30px
    &_wrapper
        width: 100%
        +r(1024)
            flex-wrap: wrap
       
    &_review
        width: 100%
        max-width: 50%    
        text-align: center
        padding: 0 10px
        +r(1024)
            margin: 0 auto
            margin-bottom: 40px
        &_title
            margin-bottom: 25px
            +r(768)
                margin-bottom: 20px
        &_slider
            padding: 0 20px
        img
            padding: 0 10px;

    &_new
        width: 100%
        max-width: 50%    
        text-align: center
        padding-left: 30px
        +r(1024)
            max-width: 100%
        &_item
            margin-bottom: 20px
        &_title
            margin-bottom: 25px
            +r(768)
                margin-bottom: 20px
        &_item_img
            padding-right: 20px
        &_text
            text-align: left
        &_link
            text-align: left
            color: $darkblue
            text-decoration: underline

    .date
        font-size: 12px
        margin-bottom: 5px
    .newHeader
        font-weight: 700
        margin-bottom: 5px

.slick-arrow.slick-next
    right: 0
.slick-arrow.slick-prev
    left: 0


            