.s_reviews_news
    &_wrapper
        width: 100%
       
    &_review
        width: 100%
        max-width: 50%    
        text-align: center
        padding: 0 10px
        &_title
            margin-bottom: 40px
        img
            padding: 0 10px;
    &_new
        width: 100%
        max-width: 50%    
        text-align: center
.slick-arrow.slick-next
    right: -20px
.slick-arrow.slick-prev
    left: -20px


            