<div class="s_advantages_items fw">
        //= advantage/advantage.html
        //= advantage/advantage1.html

        <div class="s_advantages_item">
            <object type="image/svg+xml" data="images/icon_5_years.svg"></object>
            <p class="s_advantages_item_name">Свои офисы и склады</p>
            <p>в 5 странах</p>
        </div>
        <div class="s_advantages_item">
            <object type="image/svg+xml" data="images/icon_contract.svg"></object>
            <p class="s_advantages_item_name">Агентские договора </p>
            <p>с авиалиниями </p>
        </div>
    </div>